body {
  background: #333;
  /*background: linear-gradient(90deg, white, #b5faff);*/
  margin: 0 0 30px 0;
  place-items: center;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  /*color: #FFFDD0;*/
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
h1 {
  font-family: "Montserrat light", sans-serif;
  font-size: 50px;
}
h2 {
  font-family: "Montserrat light", sans-serif, italic;
}
hr {
  border-color: #B49FBF;
}

.main-container {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
  margin: 10px ;
  align-items: center;
  padding: 0 10%;
  height: 320px;
  max-width: 1000px;
  /*background: linear-gradient(300deg, #00bfff, #808080, #b5faff);*/
  /*background-size: 180% 180%;*/
  /*animation: gradient-animation 18s ease infinite;*/
  position: relative;
  overflow: hidden;
}

/*.container::before {*/
/*  content: "";*/
/*  !*background-image: url('your-image-url.jpg'); *!*!*/
/*  background-size: cover; !* сохраняем пропорции и заполняем контейнер *!*/
/*  position: absolute; !* абсолютное позиционирование для растягивания *!*/
/*  top: 0; !* размещаем изображение вверху контейнера *!*/
/*  left: 0; !* размещаем изображение влево контейнера *!*/
/*  width: 100%; !* растягиваем изображение на всю ширину контейнера *!*/
/*  height: 100%; !* растягиваем изображение на всю высоту контейнера *!*/
/*}*/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container a {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  height: 300px;
  width: 100%;
  background-size: contain;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-right: 20%;
  padding: 10px;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 100%; /* Изображение занимает 80% на маленьких экранах */
    }
    .container img {
        width: 80%;
        height: auto;
    }
}

svg {
  position: relative;
  right: 15%;
  height: 280px;
  width: 100%;
}

.paragraph {
  width: 100%;
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  /*margin: 0;*/
  /*padding-bottom: 10px;*/
  /*color: #FFFDD0;*/
}

.skills-container {
  display: inline-block;
  position: relative;
  margin: 10px 50px;
  text-align: left;
}

.work {
  margin-bottom: 30px;
}

.other_skills {
  display: inline-block;
  position: relative;
  margin: 10px 50px;
  text-align: left;
}
.con1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.con1 p {
  margin: 5px;
}
.f {
  color: red;
}

.l {
  width: 400px;
  border: 1px solid black;
}

.con {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  display: flex;
  width: auto;
  /*height: auto;*/
}

.bo {
  background-color: white;
  width: 32px;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  border: 1px solid transparent;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  transition: width 0.5s;
}
.bu {
  margin-left: 10px;
}
.bo:hover{
  font-size: 20px;
  width: 150px;
  overflow: hidden;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #b5faff, white);
  color: #333; /* #0056b3;*/
    font-family: "Sacramento", cursive;
    font-size: 30px;
}
.footer-text p {
  margin: 10px 0 0 0;
}