body {
  background: linear-gradient(90deg, black, #220033);
  margin: 0;
  place-items: center;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFDD0;
    font-family: Arial, sans-serif;
}
/*h1 {*/
/*  color: #FFFDD0;*/
/*}*/
h2 {
  font-style: italic;
}
hr {
  border-color: #B49FBF;
}

.main-container {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  width: 70%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  /*grid-column-gap: 10%;*/
  margin: 30px ;
  align-items: center;
  padding: 0 10%;
  height: 320px;
  max-width: 800px;
  background: linear-gradient(300deg, #00bfff, #220033, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
   height: 300px;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  /*width: auto;*/
  /*height: auto;*/
  object-fit: cover;
  margin-right: 20%;
  padding: 10px;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 100%; /* Изображение занимает 80% на маленьких экранах */
    }
    .container img {
        width: 80%;
        height: auto;
    }
}

svg {
  position: relative;
  right: 15%;
  height: 280px;
  width: 100%;
}

.paragraph {
  width: 100%;
  padding: 10px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  /*margin: 0;*/
  /*padding-bottom: 10px;*/
  color: #FFFDD0;
}

.box {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #FFFDD0;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 15px;
  line-height: 1.4;
}

.footer-link {
  font-size: 15px;
}

.work {
  display: inline-block;
  position: relative;
  right: 5%;
  width: 45%;
}

.skills {
  display: inline-block;
  position: relative;
  left: 5%;
  width: 45%;
}

.other_skills {
  /*display: inline-block;*/
}
.con1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.f {
  color: red;
}

.l {
  width: 400px;
  border: 1px solid black;
}

.con {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  display: flex;
  width: auto;
  height: auto;
}

.bo {
  background-color: white;
  width: 32px;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  border: 1px solid transparent;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  transition: width 0.5s;
}
.bu {
  margin-left: 10px;
}
.bo:hover{
  font-size: 20px;
  width: 150px;
  overflow: hidden;
}